body {
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
}
.active {
  color: red;
}
ul {
  list-style-type: none;
  margin-bottom: 30px;
}

li {
  float: left;
  padding: 15px 25px 15px 25px;
  border: 1px solid #ccc;
}

.padding30 {
  padding-top: 30px;
}
